.skillName {
    margin-left: 5px;

}

.navOne {
    margin: 0 25px 0 0;
    transition: all 0.5s;
}


.navOne:hover {
    border: 3px solid #ffb400;
    padding: 5px 10px;
    border-radius: 13px;
    background-color: #ffb400;
    -webkit-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
    transition: all 0.5s ease;
}

@media (max-width: 1200px) {
    .navOne{
        margin-left: 25px;
    }
}

@media (max-width: 630px) {
    .skillName {
 display: none;
    }
    .navOne{
        margin-left: 0;
    }
}