
.MyWorksItem {
    position: relative;
    z-index: 111;
    display: inline-block;
    height: 100%;
    width: 450px;
    background-color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    -webkit-box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
    box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
    border: 4px groove #ffb400;
    border-radius: 8px;
}

.MyWorksItemTitle {
    height: 65%;
    border: 1px solid black;
}

.MyWorksItemTitleImg {
    background-size: cover;
    background-position: initial;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyWorksItemMain {
    height: 35%;
    border: 1px solid black;
    text-align: center;
}

.MyWorksItemMain p {
    margin: 10px 0 0 10px;

}

.MyWorksItemMainName p {

    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase !important;
    color: white;
    line-height: 60px;
}

.MyWorksItemMainDescr p {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase !important;
    color: #ffb400;
}

@media (max-width: 1308px){
    .MyWorksItem {
        height:400px;
        width:380px;
        margin-bottom: 50px;
    }
}

@media (max-width: 440px){
    .MyWorksItem {
        height:300px;
        width:280px;

    }

    .MyWorksItemMainName p {
        line-height: 20px;
    }
}