

.header_title {
  width: 100%;
  min-height: 113px;
  background-color: black;

  .container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas:
    ". . ."
    ". . h"
    ". . .";
    @media (max-width: 1200px) {
      width: 70%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
    ". . ."
    "h h h"
    ". . .";
    }
  }
}




