.header_nav {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_nav img{
    width:35px;
    height: 35px;
}

.header_nav a{
    text-decoration: none;
    color: black;
}

.header_nav a:hover{
    color:white;
}