.MyWorksItemTitleBtn {
    display: inline-block;
    padding: 4px 15px;
    background-color: #ffb400;
    border-radius: 13px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase !important;
    transition: all 0.8s ease;
    margin:10px
}

.MyWorksItemTitleBtn:hover{
    padding: 8px 30px;
    background-color: white;
    transition: all 0.8s ease;
}
.MyWorksItemTitleBtn a:hover{
    color: #ffb400;
    transition: all 0.8s ease;
}
.MyWorksItemTitleBtn a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

@media(max-width: 590px){
    .MyWorksItemTitleBtn {
        padding: 4px 4px;
    }

}