
.blockTitle {

    width: 100%;
    min-height: 530px;
    background-color: black;
    display: grid;
    grid-template-columns: 1.9fr;
    grid-template-rows: 0.3fr 2fr 0.3fr;
    grid-template-areas:
    "."
    "h"
    ".";
}

.container {
    grid-area: h;
    width: 70%;
    margin: 0 auto;

}

.contactsTitle {
    position: relative;
    z-index: 111;
    border: 4px groove #ffb400;
    height:450px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    -webkit-box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
    box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
    background-color: black;

}

.contactsTitle p {
    font-size: 45px;
    display: inline-block;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase !important;
    color: #ffb400;
    line-height: 60px;
    transition: all 0.8s ease;
}

.contactsFormBox{
    height:250px;
    width: 550px;
    background-color: #ffb400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px groove white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.contactsFormBox textarea{
    font-size: 18px;
    height: 100px;
    border-radius:5px;
    font-family: 'Poppins', sans-serif;
}
.contactsFormBox input{
    font-size: 18px;
    height:45px;
    border-radius:5px;
    font-family: 'Poppins', sans-serif;
}

@media(max-width: 815px){
    .contactsFormBox{
        height:200px;
        width: 350px;
        font-weight:300;
        margin-top: 15px;
    }
    .contactsFormBox textarea{
        height: 50px;
        font-weight:300;
    }
    .contactsTitle{
        justify-content: normal;
    }
}


@media(max-width: 520px){
    .blockTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactsFormBox{
        width: 250px;
        font-size: 20px;
    }

    .contactsTitle {
        align-items: center;
        height:400px
    }
    .contactsFormBox textarea{
        font-size: 12px;

    }
    .contactsFormBox input{
        font-size: 12px;

    }

}

@media(max-width: 385px) {
    .contactsFormBox{
        margin-bottom: 15px;
        width: 230px;
    }
    .contactsTitle{
        height: 370px;
    }
    .contactsTitle p{
        font-size: 30px;
    }


}
